* {
    box-sizing: border-box;
}

header {
    background-color: rgb(169, 202, 244);
    text-align: right;
}

header h1 {
    margin: 15px;
}

#searchBar{
    float: left;
    width: 300px;
    margin-right: 25px;
}

#inputArea{
    border-bottom: solid;
}

#searchBar button {
    width: 100%;
    margin: 5px;
}

#city{
    width: 100%;
    margin: 5px;
    height: 35px;
}

#searchBtn{
    width: 100%;
    background-color: rgb(169, 202, 244);
}

#recentlySearched{
    margin-top: 20px; 
}

#weatherDisplay{
    display: none;
    margin: 20px;
    padding: 20px;
}

#displayCity {
    border-style: solid;
    margin-bottom: 20px;
    padding: 20px;
}

.futureDiv{
    display: inline-block;
    height: fit-content;
    border-style: solid;
    margin-bottom: 10px;
    padding: 10px;
}
